@page
@using net_on_the_web.Models
@model net_on_the_web.Pages.AboutModel
@{
}
@* <p>@Model.Message the time is @DateTime.Now</p> *@
<table class="table">
    <tr>
        <th scope="col">Student Id</th>
        <th scope="col">Student Name</th>
        <th scope="col">Assigned Class</th>
        <th scope="col">Assigned Teacher</th>
    </tr>
    @foreach(Student student in Model._students)
    {
        <tr>
            <td scope="row">
                <b>@student.Id</b>
            </td>
            <td>@student.Name</td>
            <td>@student.MyClass.ClassName</td>
            <td>@student.MyClass.MyTeacher.Name</td>
        </tr>
    }
</table>
